---
layout: layout.njk
---
<h1>Colors</h1>

<section>

  <div class="color-grid">
    {% for name, code in lookbook.colors %}
      <div class="color-grid__cell" title="--color-{{ name }}: {{ code }}" style="--bg: var(--color-{{ name }})">{{ name }}</div>
    {% else %}
      <p class="text-muted">No colors configured.</p>
    {% endfor %}
  </div>

</section>
