<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Lookbook by Lookback</title>
    <meta name="author" content="Lookback" />

    <meta
      name="keywords"
      content="styleguide, design system, brand, colors, css"
    />
    <meta
      name="description"
      content="The Lookbook is the main source of visual design language at Lookback. It includes the traditional color schemes we use in our products, as well as CSS resources for building scalable web frontends."
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ '/assets/site.css' | url }}" />
    <link rel="shortcut icon" href="https://lookback.com/favicon.ico" />
  </head>
  <body>
    <p class="toggle-menu">
      <a href="#" data-toggle-menu>Pages</a>
    </p>

    <aside role="navigation" class="sidebar">
      <p class="mb-12">
        <a href="/" class="inline-block w-10 text-orange-400">
          {% include "lookback-mark.svg" %}
        </a>
      </p>

      <a
        href="http://github.com/lookback/lookbook"
        class="flex items-center gap-4 mb-4 hover:no-underline"
      >
        <div>
          {% include 'github-icon.njk' %}
        </div>
        <div class="leading-none">
          <span class="block text-sm">GitHub</span>
          <small class="text-grey-800">{{ lookbook.version }}</small>
        </div>
      </a>

      <p class="mb-12 text-sm text-grey-800">
        Site updated
        <strong title="{{ buildInfo.builtAt }}"
          >{{ buildInfo.builtAt | formatDate }}</strong
        >
      </p>

      <nav role="navigation">
        <h2>Overview</h2>
        <ul>
          <li class="{% if page.fileSlug == 'intro'%}nav-active{% endif %}">
            <a href="{{ '/overview/intro' | url }}">Introduction</a>
          </li>
          <li class="{% if page.fileSlug == 'colors'%}nav-active{% endif %}">
            <a href="{{ '/overview/colors' | url }}">Colors</a>
          </li>
          <li class="{% if page.fileSlug == 'variables'%}nav-active{% endif %}">
            <a href="{{ '/overview/variables' | url }}">Variables</a>
          </li>
        </ul>

        <h2>Styling</h2>

        <ul>
          <li
            class="{% if page.fileSlug == 'typography'%}nav-active{% endif %}"
          >
            <a href="{{ '/styling/typography' | url }}">Typography</a>
          </li>
          <li class="{% if page.fileSlug == 'forms'%}nav-active{% endif %}">
            <a href="{{ '/styling/forms' | url }}">Forms</a>
          </li>
          <li class="{% if page.fileSlug == 'widths'%}nav-active{% endif %}">
            <a href="{{ '/styling/widths' | url }}">Widths</a>
          </li>
          <li class="{% if page.fileSlug == 'radii'%}nav-active{% endif %}">
            <a href="{{ '/styling/radii' | url }}">Border radius</a>
          </li>
          <li class="{% if page.fileSlug == 'shadows'%}nav-active{% endif %}">
            <a href="{{ '/styling/shadows' | url }}">Shadows</a>
          </li>
        </ul>

        <h2>Components</h2>

        <ul>
          <li class="{% if page.fileSlug == 'buttons'%}nav-active{% endif %}">
            <a href="{{ '/components/buttons' | url }}">Buttons</a>
          </li>

          <li class="{% if page.fileSlug == 'loading'%}nav-active{% endif %}">
            <a href="{{ '/components/loading' | url }}">Loading indicators</a>
          </li>
          
          <li class="{% if page.fileSlug == 'badges'%}nav-active{% endif %}">
            <a href="{{ '/components/badges' | url }}">Badges</a>
          </li>
          
          <li class="{% if page.fileSlug == 'box'%}nav-active{% endif %}">
            <a href="{{ '/components/box' | url }}">Box</a>
          </li>
          
          <li class="{% if page.fileSlug == 'nav'%}nav-active{% endif %}">
            <a href="{{ '/components/nav' | url }}">Navigation</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main role="main">
      {{ content | safe }}
    </main>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const SIDEBAR_VISIBLE_CLASS = 'visible';

        const button = document.querySelector('[data-toggle-menu]');
        const sidebar = document.querySelector('.sidebar');

        const toggleSidebar = () => {
          const isShown = sidebar.classList.toggle(SIDEBAR_VISIBLE_CLASS);
          button.classList.toggle('active', isShown);

          return isShown;
        };

        if (button && sidebar) {
          const handleClickOutside = (evt) => {
            if (
              !sidebar.contains(evt.target) &&
              sidebar.classList.contains(SIDEBAR_VISIBLE_CLASS)
            ) {
              toggleSidebar();
              removeClickOutside();
            }
          };

          const handleMenuToggle = (evt) => {
            evt.preventDefault();
            evt.stopPropagation();

            toggleSidebar();
            addClickOutside();
          };

          const addClickOutside = () => {
            document.addEventListener('click', handleClickOutside);
            document.addEventListener('touchstart', handleClickOutside);
          };

          const removeClickOutside = () => {
            document.removeEventListener('click', handleClickOutside);
            document.removeEventListener('touchstart', handleClickOutside);
          };

          button.addEventListener('click', handleMenuToggle);
          button.addEventListener('touchstart', handleMenuToggle);
        }
      });
    </script>
  </body>
</html>
