<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Lookbook by Lookback</title>
    <meta name="author" content="Lookback" />
    <meta
      name="keywords"
      content="styleguide, design system, brand, colors, css"
    />
    <meta
      name="description"
      content="The Lookbook is the main source of visual design language at Lookback. It includes the traditional color schemes we use in our products, as well as CSS resources for building scalable web frontends."
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i"
      rel="stylesheet"
    />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ '/assets/site.dist.css' | url }}" />
    <link rel="shortcut icon" href="https://lookback.io/favicon.ico" />
  </head>
  <body>
  <aside role="navigation" class="sidebar">
      <a href="/" class="inline-block mb-6 opacity-80 hover:opacity-100">
        <svg
          class="lookback-logo"
          width="150"
          x="0px"
          y="0px"
          viewBox="37.9 217.4 901.3 119.9"
        >
          <path
            d="M232,217.4c-13.8,0-30.8,8.4-52.3,25.7c-5.7,4.7-10.9,9.1-15.3,13.1c-4.2-3.9-9.4-8.4-15.3-13.1
			c-21.2-17.3-38.5-25.7-52-25.7c-32.6,0-59.2,26.9-59.2,59.7c0,33.1,26.6,59.7,59.2,59.7c13.8,0,30.8-8.4,52.3-25.7
			c5.7-4.7,10.9-9.1,15.3-13.1c4.2,3.9,9.4,8.4,15.3,13.1c21.5,17.3,38.5,25.7,52.3,25.7c32.6,0,59.2-26.9,59.2-59.7
			C291.2,244.3,264.5,217.4,232,217.4z M130.3,287.4c-22.4,17.8-31.8,18.7-33.3,18.7c-15.8,0-28.6-13.1-28.6-29.1S81.3,248,97,248
			c1.7,0,10.9,1,33.3,18.7c4.4,3.5,8.6,7.2,12.1,10.4C138.7,280.3,134.8,283.7,130.3,287.4z M173,290l-19.5-2.6l-1.5-19.4
			l12.4-11.9l2.6,19.4l19.6,1.5L173,290z M232,306.2c-1.7,0-10.9-1-33.3-18.7c-4.4-3.5-8.6-7.2-12.1-10.4
			c3.5-3.2,7.6-6.7,11.8-10.1c22.4-18,31.8-19,33.3-19c15.8,0,28.6,13.1,28.6,29.1C260.6,293.1,247.7,306.2,232,306.2z"
          />
  </svg>
      </a>

      <a
        href="http://github.com/lookback/lookbook"
        class="flex items-center mb-6 hover:no-underline text-grey-60"
      >
        <div class="mr-2">
          {% include 'github-icon.njk' %}
        </div>
        <div class="leading-none">
          <span class="block text-f5 text-blue-60">GitHub</span>
          <small>{{ lookbook.version }}</small>
        </div>
      </a>

      <nav role="navigation">
        <h2>For everybody</h2>

        <ul>
          <li class="{% if page.fileSlug == 'colors'%}nav-active{% endif %}">
            <a href="{{ '/colors' | url }}">Colors</a>
          </li>
          <li class="{% if page.fileSlug == 'brand'%}nav-active{% endif %}">
            <a href="{{ '/brand' | url }}">Logotype &amp; Brand</a>
          </li>
        </ul>

        <h2>Tech</h2>
        <ul>
          <li class="{% if page.fileSlug == 'intro'%}nav-active{% endif %}">
            <a href="{{ '/tech/intro' | url }}">Introduction</a>
          </li>
          <li class="{% if page.fileSlug == 'css'%}nav-active{% endif %}">
            <a href="{{ '/tech/css' | url }}">Using the CSS</a>
          </li>
          <li class="{% if page.fileSlug == 'custom'%}nav-active{% endif %}">
            <a href="{{ '/tech/custom-build' | url }}">Building custom CSS</a>
          </li>
          <li
            class="{% if page.fileSlug == 'versioning'%}nav-active{% endif %}"
          >
            <a href="{{ '/tech/versioning' | url }}">Versioning</a>
          </li>
          <li class="{% if page.fileSlug == 'variables'%}nav-active{% endif %}">
            <a href="{{ '/tech/variables' | url }}">Variables</a>
          </li>
          <li class="{% if page.fileSlug == 'tips'%}nav-active{% endif %}">
            <a href="{{ '/tech/tips' | url }}">Tips &amp; Tricks</a>
          </li>
        </ul>

        <h2>Styling</h2>

        <ul>
          <li
            class="{% if page.fileSlug == 'typography'%}nav-active{% endif %}"
          >
            <a href="{{ '/styling/typography' | url }}">Typography</a>
          </li>
          <li class="{% if page.fileSlug == 'forms'%}nav-active{% endif %}">
            <a href="{{ '/styling/forms' | url }}">Forms</a>
          </li>
          <li
            class="{% if page.fileSlug == 'misc-elements'%}nav-active{% endif %}"
          >
            <a href="{{ '/styling/misc-elements' | url }}"
              >Miscellaneous Elements</a
            >
          </li>
          <li class="{% if page.fileSlug == 'utilities'%}nav-active{% endif %}">
            <a href="{{ '/styling/utilities' | url }}">Utilities</a>
          </li>
          <li class="{% if page.fileSlug == 'widths'%}nav-active{% endif %}">
            <a href="{{ '/styling/widths' | url }}">Widths</a>
          </li>
        </ul>

        <h2>Components</h2>

        <ul>
          <li class="{% if page.fileSlug == 'buttons'%}nav-active{% endif %}">
            <a href="{{ '/components/buttons' | url }}">Buttons</a>
          </li>

          <li class="{% if page.fileSlug == 'loading'%}nav-active{% endif %}">
            <a href="{{ '/components/loading' | url }}">Loading indicators</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main role="main">
      {{ content | safe }}
    </main>
  </body>
</html>
