---
layout: layout.njk
---

<section>
  <h1 id="top">Classes</h1>

  <p class="text-f3 text-grey-60 mb-4">
    We found <strong class="text-default">{{ lookbook.classes.length }} classes</strong> in total.
  </p>

  <aside class="rounded-huge p-3 bg-white mb-5">
    <details>
      <summary>Table of Contents</summary>

      <ol class="ml-0 text-grey-60 mt-3">
        {% for group in lookbook.groupedClasses %}
          <li class="pl-2">
            <a href="#{{ group.title | slug }}">{{ group.title }}</a>
          </li>
        {% endfor %}
      </ol>
    </details>
  </aside>

  {% for group in lookbook.groupedClasses %}
    <section class="mb-6">
      <header class="flex items-center justify-between border-b-2 mb-3">
        <h2 id="{{ group.title | slug }}">{{ group.title }}</h2>

        <div class="flex items-center">
          <a href="#top" class="btn btn-link text-grey-60">Back up ☝️</a>

          {% if group.docsUrl %}
            <a href="{{ group.docsUrl }}" class="btn btn-link" title="Link to docs on this section">Tailwind docs</a>
          {% endif %}
        </div>
      </header>

      <ul class="list-none pl-0 ml-0">
        {% for klass in group.classes %}
          <li>
            <h3><code>.{{ klass }}</code></h3>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</section>
