---
layout: layout.njk
---

<section>
  <h1>Variables</h1>

  <p>All configuration variables are defined in <a href="https://github.com/lookback/lookbook/blob/main/tailwind.config.js"><code>tailwind.config.js</code> in the Lookbook repo</a>. You can refer to any of those values in your own (post-processed) CSS with the Tailwind <a href="https://tailwindcss.com/docs/functions-and-directives#theme"><code>theme()</code> function</a>.</p>

  <p>Like this:</p>

  {% highlight "css" %}
  .mything {
  color: theme('colors.red-50');
}
{% endhighlight %}

  <p>You can also use all <a href="/colors">colors</a> as <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*">Custom Properties</a> in your CSS:</p>

  <div class="preview-block">
    <style>
      .mything {
        color: var(--red-50);
      }
    </style>
    <p class="mything mb-0">This is red from the actual <code>--red-50</code> CSS variable.</p>
  </div>
  {% highlight "css" %}
.mything {
  color: var(--red-50);
}
  {% endhighlight %}

  <p>The Custom Properties option <strong>is the preferred route</strong> when using color variables. There's no need for post-processing your CSS, and it's future proof.</p>

  <p>All Custom Properties are defined on the <code>:root</code> element.</p>

  <p>Here are all colors as Custom CSS properties:</p>

  {% highlight "css" %}
    :root {
{% for name, code in lookbook.colors %}
  --{{ name }}: {{ code }};
{% endfor %}
}
  {% endhighlight %}
</section>
