html,
body {
  min-height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  position: relative;
}

.sidebar {
  transition: transform 0.1s ease-out;
  background-color: white;
  padding: var(--spacing-6);
  padding-left: var(--spacing-7);
  padding-right: 0;

  &.visible {
    transform: none;
    width: 75%;
    box-shadow: rgb(0 0 0 / 20%) 2px 0 30px;
  }

  @media (max-width: 960px) {
    position: fixed;
    overflow-y: auto;
    bottom: 0;
    top: 0;
    transform: translate(-100%, 0);
    z-index: 10;
  }

  h2 {
    text-transform: uppercase;
    color: var(--color-grey-800);
    font-size: var(--text-sm);
    letter-spacing: var(--tracking-wider);
    margin-bottom: var(--spacing-7);
  }

  nav {
    position: sticky;

    ul {
      margin-left: -1.5rem;
      margin-bottom: var(--spacing-10);
    }

    a {
      display: inline-block;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      padding-left: var(--spacing-7);
    }

    li.nav-active {
      background-color: var(--color-grey-50);

      a {
        color: var(--color-text-primary);
        font-weight: bold;

        &,
        &:hover {
          cursor: default;
          text-decoration: none;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  code {
    border: 0;
    padding: 0;
    background-color: transparent;
  }
}

main {
  flex: 1;
  margin: var(--spacing-9);

  :where(p, ul, ol, pre, blockquote) {
    margin-bottom: var(--spacing-5);
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  > h1 {
    margin-bottom: var(--spacing-10);
    font-size: var(--text-lg);
    border-bottom: 1px solid var(--color-border-light);
    padding-bottom: var(--spacing-3);
  }
  
  h2 {
    font-size: var(--text-xl);
  }
  
  h3 {
    font-size: var(--text-lg);
  }

  > section {
    max-width: 45em;
  }

  @media (max-width: 960px) {
    > section {
      margin: 0 auto;
    }
  }
}

.toggle-menu {
  display: none;
  text-align: right;

  a {
    font-weight: bold;
    display: inline-block;
    border-color: var(--color-grey-400);
    color: var(--color-blue-700);
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.active {
      color: #fff;
      background-color: var(--color-blue-700);
      border-color: var(--color-blue-700);
    }
  }
}

@media (max-width: 960px) {
  .toggle-menu {
    display: block;
  }
}

form {
  p {
    margin-bottom: var(--spacing-8);
  }

  section {
    margin-bottom: var(--spacing-12);

    > h2 {
      margin-bottom: var(--spacing-7);
      padding-bottom: var(--spacing-2);
      font-size: var(--text-lg);
      border-bottom: 1px solid var(--color-border-light);
    }

    > h3 {
      font-size: var(--text-base);
      margin-block: var(--spacing-7);
    }
  }
}
