@custom-media --breakpoint-menu (max-width: 960px);

html,
body {
  min-height: 100vh;
}

body {
  @apply flex;
  position: relative;

  @media (--breakpoint-menu) {
    @apply flex-col overflow-y-auto;
  }
}

.lookback-logo {
  fill: var(--red-50);
}

.sidebar {
  @apply py-3 pl-3 pr-0 bg-white;
  flex-basis: 300px;
  transition: transform 0.1s ease-out;

  &.visible {
    transform: none;
    width: 75%;
    box-shadow: rgba(theme('colors.grey-50'), 0.6) 2px 0 30px;
  }

  @media (--breakpoint-menu) {
    @apply fixed overflow-y-auto bottom-0 top-0 scrolling-touch;
    transform: translate(-100%, 0);
    z-index: 10;

    nav {
      @apply mb-5;
    }
  }

  h2 {
    @apply text-grey-60 uppercase font-bold text-f6 tracking-wide mb-3;
  }

  nav {
    position: sticky;
    top: theme('margin.3');

    ul {
      @apply mb-4;
      margin-left: -1.5rem;
    }

    a {
      @apply px-3;
      display: inline-block;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }

    li.nav-active {
      background-color: var(--grey-20);

      a {
        color: var(--blue-80);
        font-weight: bold;

        &,
        &:hover {
          cursor: default;
          text-decoration: none;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  code {
    border: 0;
    padding: 0;
    background-color: transparent;
  }
}

main {
  @apply p-3 pl-5 py-7;
  flex: 1;

  ul,
  ol {
    @apply pl-3 ml-3;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  p,
  pre,
  ul,
  ol {
    @apply mb-3;
  }

  > section {
    max-width: 45em;

    > h1 {
      @apply mb-5 text-f0;

      @media (--breakpoint-menu) {
        @apply text-f1;
      }
    }

    > h2 {
      @apply mb-2 mt-4 pb-1 border-b;
    }

    > h3 {
      @apply mb-2;
    }
  }

  @media (--breakpoint-menu) {
    @apply py-2 px-3;

    > section {
      margin: 0 auto;
    }
  }
}

.toggle-menu {
  @apply hidden pr-3 pt-3 text-right;

  a {
    @apply font-bold inline-block rounded-lg border px-2 py-1;
    border-color: var(--grey-40);
    color: var(--blue-70);
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &.active {
      color: #fff;
      background-color: var(--blue-70);
      border-color: var(--blue-70);
    }
  }
}

@media (--breakpoint-menu) {
  .toggle-menu {
    @apply block;
  }
}
