.preview-block {
  @apply border-2 border-b-0 rounded-t-lg p-3 bg-white;

  & + pre {
    border-radius: 0;
    @apply rounded-b-lg mb-5;
  }

  &--dark {
    background-color: var(--blue-100);
    border-color: var(--blue-100);
  }
}

.callout {
  --background: var(--orange-10);
  --border: var(--orange-30);
  --text: var(--orange-70);
  --link: var(--orange-80);

  @apply rounded-lg p-3;
  background-color: var(--background);
  border: 1px solid var(--border);
  color: var(--text);

  a {
    color: var(--link);
  }

  &__title {
    @apply font-bold text-f5 mb-2;
    color: var(--text);
  }

  ul {
    @apply list-disc pl-3 ml-2 mb-0;
  }

  @media (prefers-color-scheme: dark) {
    --background: var(--orange-100);
    --border: var(--orange-70);
    --text: var(--orange-40);
    --link: var(--orange-30);
    box-shadow: var(--grey-90) 0 2px 4px;
  }
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(10, 4vw);
  grid-template-rows: repeat(10, 4vw);
  grid-gap: 2vw 1vw;

  &__cell {
    @apply rounded-lg p-2 font-bold;
    text-indent: -999em;
    box-shadow: inset rgb(0 0 0 / 15%) 0 1px 4px;
  }
}

.layout-preview {
  &__block {
    @apply p-2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    background-color: var(--blue-90);

    code {
      white-space: nowrap;
    }
  }
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.grid-square {
  --size: 200px;
  grid-template-columns: repeat(3, var(--size));
  grid-template-rows: repeat(3, var(--size));

  &-2 {
    grid-template-columns: repeat(2, 300px);
  }
}
