---
layout: layout.njk
input_types:
  - checkbox
  - range
  - radio
  - tel
  - datetime-local
  - date
  - time
  - color
  - file
  - image
  - month
  - week
  - number
  - password
  - reset
  - button
  - search
  - submit
  - url
---
<h1>Forms</h1>

<p>Default Lookbook styling for a bunch of form inputs.</p>

<form>
  <section>
    <h2>Labels</h2>
    
    <p>Sometimes, we want the bold, smaller style. Lookbook CSS tries to intelligently apply this style globally. The base case is normally sized label, as seen below. Use <code>.label</code> to manually apply the bolder style.</p>
    
    <p>
      <label class="block" for="name-placeholder-label">Label immediately preceeding an input</label>
      <input id="name-placeholder-label" type="text" placeholder="Placeholder" />
    </p>
    
    <p class="flex items-center gap-4">
      <input id="check-normal" type="checkbox" />
      <label for="check-normal">Label for a checkbox is normal unless explicitly wrapped or styled with <code>.label</code>.</label>
    </p>
    
    <p class="flex items-center gap-4">
      <input id="check-label" type="checkbox" />
      <label for="check-label" class="label">Label with <code>.label</code></label>
    </p>
    
    <p>
      <label>
        Label wrapping text input
        <input type="text" placeholder="Text…" />
      </label>
    </p>
    
    <div class="flex items-center gap-5">
      <label class="flex items-center gap-2">
        <input type="checkbox" />
        <span>Wrapped label 1</span>
      </label>
      
      <label class="flex items-center gap-2">
        <input type="checkbox" />
        <span>Wrapped label 2</span>
      </label>
      
      <label class="flex items-center gap-2">
        <input type="checkbox" />
        <span>Wrapped label 3</span>
      </label>
    </div>
  </section>
  
  <section>
    <h2>Text inputs</h2>
    <p>
      <label class="block" for="name-placeholder">Name, placeholder</label>
      <input id="name-placeholder" type="text" placeholder="Placeholder" />
    </p>
    
    <p>
      <label class="block" for="name">Name</label>
      <input id="name" type="text" value="Johan" />
    </p>
    
    <p>
      <label class="block" for="name-disabled">Name, disabled</label>
      <input id="name-disabled" type="text" placeholder="Placeholder" disabled />
    </p>
    
    <p>
      <label class="block" for="name-disabled-text">Name, disabled with text</label>
      <input id="name-disabled-text" type="text" placeholder="Placeholder" value="Johan" disabled />
    </p>
    
    <p>
      <label class="block" for="name-readonly">Name, read only</label>
      <input id="name-readonly" type="text" value="Johan" readonly />
    </p>
  
    <p>
      <label class="block" for="search">Search</label>
      <input id="search" type="search" placeholder="Placeholder" />
    </p>
    
    <section>
      <h3>Inline</h3>
      <p>Use as <code>.mode-inline</code>. Ideally used on <code>grey</code> backgrounds.</p>
      
      <div class="bg-grey-50 p-5 pb-7 rounded-md margin-trim-end">
        <p>
          <input class="mode-inline" type="text" placeholder="Input here" />
        </p>
        
        <p>
          <input class="mode-inline" type="text" placeholder="Input here" value="Disabled text" disabled />
        </p>
        
        <p>
          <input class="mode-inline" type="text" placeholder="Error" pattern="[a-z]+" value="UPPERCASE (edit to trigger)" />
        </p>
      </div>
    </section>
    
    <section>
      <h3>Input group</h3>
      
      <label for="group">My group</label>
      <p class="input-group w-16 mb-8">
        <input id="group" type="text" placeholder="Input here" />
        <button class="btn">Submit</button>
      </p>
      
      <label for="group">My group with more buttons</label>
      <p class="input-group w-16">
        <input id="group" type="text" placeholder="Input here" />
        <button class="btn btn-secondary">Other</button>
        <button class="btn">Submit</button>
      </p>
    </section>
  </section>
  
  <section>
    <h2>Text area</h2>
  
    <p>
      <label class="block" for="text">Text</label>
      <textarea id="text" placeholder="Placeholder">Some text</textarea>
    </p>
    
    <p>
      <label class="block" for="text-disabled">Disabled</label>
      <textarea id="text-disabled" placeholder="Placeholder" disabled>Some text</textarea>
    </p>
    
    <p>
      <label class="block" for="text-placeholder">Placeholder</label>
      <textarea id="text-placeholder" placeholder="Placeholder"></textarea>
    </p>
  </section>
  
  
  <section>
    <h2>Select</h2>
    <p>
      <label for="select" class="block">Product Delta team, January 2019</label>
  
      <select id="select" class="w-15">
        <option>Martin</option>
        <option>Drew</option>
        <option>Johan</option>
        <option>Nevyn</option>
        <option>Tabanitha</option>
        <option>Andoma</option>
        <option>Forrest</option>
        <option>Carl</option>
        <option>A really really really really really really really long text</option>
      </select>
    </p>
    
    <p>
      <label for="selectmulti" class="block">Multiple selects</label>
  
      <select id="selectmulti" multiple>
        <option>Martin</option>
        <option>Drew</option>
        <option>Johan</option>
        <option>Nevyn</option>
        <option>Tabanitha</option>
        <option>Andoma</option>
        <option>Forrest</option>
        <option>Carl</option>
        <option>A really really really really really really really long text</option>
      </select>
    </p>
    
    <p>
      <label for="select-disabled" class="block">Disabled select</label>
  
      <select id="select-disabled" disabled>
        <option>Martin</option>
        <option>Drew</option>
        <option>Johan</option>
        <option>Nevyn</option>
        <option>Tabanitha</option>
        <option>Andoma</option>
        <option>Forrest</option>
        <option>Carl</option>
        <option>A really really really really really really really long text</option>
      </select>
    </p>
  </section>
  
  <section>
    <h2>Error state</h2>
    
    <section>
      <h3>Validation API</h3>
      <p>
        <label class="block" for="name-err">Want lowercase (edit field to see error styling)</label>
        <input id="name-err" type="text" pattern="[a-z]+" value="UPPERCASE" />
      </p>
      
      <p>
        <label class="block" for="text-err">Want lowercase (edit field to see error styling)</label>
        <textarea id="text-err" required>Erase me</textarea>
      </p>
    </section>
    
    <section>
      <h3>Applying <code>.input-invalid</code></h3>
      
      <p class="mb-1">
        <label class="block" for="name-err-manual">Manually applied</label>
        <input id="name-err-manual" type="text" class="input-invalid" value="John Jones" />
      </p>
      <p>
        <span class="input-warning">Some description with <code>.input-warning</code></span>
      </p>
    </section>
  </section>
  
  <section>
    <h2>Misc</h2>
  
    <section>
      <h3><code>&lt;progress&gt;</code></h3>
      
      <p class="max-w-18">
        <label for="prog">Progress</label>
        <progress id="prog" value="0.5">50%</progress>
      </p>
    
      <p class="max-w-18">
        <label for="prog-done">Progress done</label>
        <progress id="prog-done" value="1">100%</progress>
      </p>
    </section>
    
    <section>
      <h3><code>&lt;meter&gt;</code></h3>
    
      <div class="flex items-center gap-4 mb-7">
        <label for="fuel-optimum">Fuel optimum</label>
        <meter id="fuel-optimum" min="0" max="100" low="33" high="66" optimum="80" value="80">
          at 80/100
        </meter>
  
        <label for="fuel-mid">Fuel sub-optimal</label>
        <meter id="fuel-mid" min="0" max="100" low="33" high="66" optimum="80" value="50">
          at 50/100
        </meter>
        
        <label for="fuel-low">Fuel not very good</label>
        <meter id="fuel-low" min="0" max="100" low="33" high="66" optimum="80" value="30">
          at 30/100
        </meter>
      </div>
    </section>
  
    {% for type in input_types %}
    <p>
      <label for="inp-{{ type }}">{{ type }}</label>
      <input type="{{ type }}" id="inp-{{ type }}" />
    </p>
    {% endfor %}
  </section>
  
  <section>
    <h2>Content editable (fake textarea)</h2>
  
    <div class="mb-8">
      <label class="block">Content editable</label>
      <div role="textbox" id="contentEditable" contenteditable="true"></div>
    </div>
  
    <div class="mb-8">
      <label class="block">Content editable with placeholder</label>
      <div role="textbox" id="contentEditable2" contenteditable="true" aria-placeholder="Placeholder here"></div>
    </div>
  
    <div class="mb-8">
      <label class="block">Content editable disabled</label>
      <div role="textbox" id="contentEditable3" contenteditable="true" aria-placeholder="Placeholder here" aria-disabled="true"></div>
    </div>
  </section>
</form>
