---
layout: layout.njk
classes:
  - rounded-xs
  - rounded-sm
  - rounded-md
  - rounded-lg
  - rounded-xl
  - rounded-full
---
<h1>Border radius</h1>

<div class="layout-preview grid grid-square gap-3">
  {% for cl in classes %}
  <div class="layout-preview__block {{ cl }}">
    <code>.{{ cl }}</code>
  </div>
  {% endfor %}
</div>
