---
layout: layout.njk
classes:
  - shadow-none
  - shadow-sm
  - shadow-md
  - shadow-lg
---
<h1>Shadows</h1>

<div class="layout-preview grid grid-square grid-square-2 gap-5">
  {% for cl in classes %}
  <div class="layout-preview__block rounded-md bg-white {{ cl }}">
    <code>.{{ cl }}</code>
  </div>
  {% endfor %}
</div>
