---
layout: layout.njk
---
<h1>Widths</h1>

<section class="max-w-none">
  <p>Use the helpers to set widths and maximum widths.</p>

  <div class="layout-preview mb-5">
    {% for i in range(1, 21) %}
    <div class="flex items-center gap-4 mb-2">
      <code class="inline-block min-w-11 text-center">.w-{{ i }}</code>
      <div class="layout-preview__block w-{{ i }}">
      </div>
    </div>
    {% endfor %}
  </div>
</section>
