---
layout: layout.njk
---
{% import "icon.njk" as icon %}

<h1>Buttons</h1>

<section>

  <h2 class="mb-5">Regular button</h2>

  <div class="preview-block mb-6">
    <button class="btn">Button</button>
    <button class="btn" disabled>Button</button>
    <a href="#" class="btn">Link</a>
    <button class="btn" aria-label="Only icon">{{ icon.icon("pencil") }}</button>
  </div>

  <h2 class="mb-5">Success button</h2>

  <div class="preview-block mb-6">
    <button class="btn btn-success">Button</button>
    <button class="btn btn-success" disabled>Button</button>
    <a href="#" class="btn btn-success">Link</a>
    <button class="btn btn-success" aria-label="Only icon">{{ icon.icon("pencil") }}</button>
  </div>

  <h2 class="mb-5">Secondary button</h2>

  <div class="preview-block mb-6">
    <button class="btn btn-secondary">Button</button>
    <button class="btn btn-secondary" disabled>Button</button>
    <a href="#" class="btn btn-secondary">Link</a>
    <button class="btn btn-secondary" aria-label="Only icon">{{ icon.icon("pencil") }}</button>
  </div>
  
  <h2 class="mb-5">Tertiary button</h2>

  <div class="preview-block mb-6">
    <button class="btn btn-tertiary">{{ icon.icon("pencil") }} Button</button>
    <button class="btn btn-tertiary" disabled>{{ icon.icon("pencil") }} Button</button>
    <button class="btn btn-tertiary" aria-label="Only icon" title="This markup uses aria-label">{{ icon.icon("pencil") }}</button>
    <button class="btn btn-tertiary" title="This markup uses .sr-only">{{ icon.icon("pencil") }}<span class="sr-only">Only icon</span></button>
    
    <button class="btn btn-tertiary" aria-label="Only icon" title="This markup uses aria-label" disabled>{{ icon.icon("pencil") }}</button>
  </div>
  <p>
    <strong>Note:</strong> The two icon-only buttons are styled as squares. They use the following markup to achieve that:
  </p>
  <ol class="list-inside">
    <li>Uses <code>aria-label="Text"</code> attribute on the <code>.btn</code>.</li>
    <li>Uses a sibling <code>&lt;span class="sr-only"&gt;Text&lt;span&gt;</code> element.</li>
  </ol>

  <h2 class="mb-5">Destructive button</h2>

  <div class="preview-block mb-6">
    <button class="btn btn-destructive">Button</button>
    <button class="btn btn-destructive" disabled>Button</button>
    <button class="btn btn-destructive" aria-label="Only icon">{{ icon.icon("pencil") }}</button>
  </div>
</section>

{{ icon.pencil() }}
