---
layout: layout.njk
---
<h1>Buttons</h1>

<section>

  <h2>Regular button</h2>

  <div class="preview-block">
    <button class="btn">Button</button>
    <button class="btn" disabled>Button</button>
    <button class="btn"><span class="icon">✅</span> Button</button>
  </div>

  <h2>Success button</h2>

  <div class="preview-block">
    <button class="btn btn-success">Button</button>
    <button class="btn btn-success" disabled>Button</button><br>
  </div>

  <h2>Secondary button</h2>

  <div class="preview-block">
    <button class="btn btn-secondary">Button</button>
    <button class="btn btn-secondary" disabled>Button</button><br>
  </div>
  
  <h2>Tertiary button</h2>

  <div class="preview-block">
    <button class="btn btn-tertiary">Button</button>
    <button class="btn btn-tertiary" disabled>Button</button><br>
  </div>

  <h2>Destructive button</h2>

  <div class="preview-block">
    <button class="btn btn-destructive">Button</button>
    <button class="btn btn-destructive" disabled>Button</button><br>
  </div>
</section>
