---
layout: layout.njk
---

<section>
  <h1>Loading Indicators</h1>

  <h2>Spinner</h2>

  <p>A versatile, text-less spinner in dark (default) and light variants.</p>
  
  <div class="preview-block flex justify-center mb-8">
    <div class="flex-1 text-center p-3">
      <div class="Spinner">Spinning</div>
    </div>
    <div class="bg-blue-900 flex-1 text-center p-3 rounded-none">
      <div class="Spinner Spinner--light">Spinning</div>
    </div>
  </div>

  <h2>Loading Dots</h2>

  <p>Used to append a series of loading dots after arbitrary text element.</p>

  <div class="preview-block flex justify-center">
    <div class="flex-1 text-center p-3">
      <p class="mb-0 LoadingDots">Loading</p>
    </div>
    <div class="bg-blue-900 flex-1 text-center p-3 rounded">
      <p class="mb-0 LoadingDots text-white">Loading</p>
    </div>
  </div>
</section>
