---
layout: layout.njk
---
<h1>Navigation</h1>

<section>
  <h2 class="mb-5 text-lg">Tab list</h2>
  
  <div class="Box mb-8">
    <nav role="tablist" aria-label="Participant profile navigation" class="TabList mb-5">
      <button role="tab" id="t-sessions" aria-controls="p-sessions" aria-selected="true">Sessions</button>
      
      <button role="tab" id="t-profile" aria-controls="p-profile" aria-selected="false">Profile</button>
      
      <button role="tab" id="t-screener" aria-controls="p-screener" aria-selected="false">Screener answers</button>
    </nav>
  </div>
  
  <h2 class="mb-5 text-lg">As links</h2>
  
  <div class="Box mb-8">
    <nav role="tablist" aria-label="Participant profile navigation" class="TabList mb-5">
      <a href="#" role="tab" id="t-sessions" aria-controls="p-sessions" aria-selected="true">Sessions</a>
      
      <a href="#" role="tab" id="t-profile" aria-controls="p-profile" aria-selected="false">Profile</a>
      
      <a href="#" role="tab" id="t-screener" aria-controls="p-screener" aria-selected="false">Screener answers</a>
    </nav>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navs = document.querySelectorAll('[role="tablist"]');
    
    for (const $nav of $navs) {
      const updateSelected = ($btn) => {
        for (const $tab of $nav.querySelectorAll('[role="tab"]')) {
          $tab.ariaSelected = false;
        }
        
        $btn.ariaSelected = true;
      }
  
      $nav.addEventListener('click', (evt) => {
        evt.preventDefault();
        updateSelected(evt.target);
      });
    }
  });
</script>
