---
layout: layout.njk
---

<section>
  <h1>Colors</h1>

  <h2>Complete system</h2>

  <p>Our color system includes of <strong>7 hues</strong> (including grey), each consisting of <strong>10 shades</strong>. The scale goes from the numbers 10-100. Each color in the scale is named according to the scheme <code>{color}-{number}</code>, such as <code>orange-50</code>.</p>

  <p>You can read more about our <em>brand colors</em> (building upon this system) in <a href="{{ '/brand' | url}}">"Brand"</a>.</p>

  <div class="color-grid">
    {% for name, code in lookbook.colors %}
      <div class="color-grid__cell" title="{{ name }}" style="background-color: {{ code }}">{{ name }}</div>
    {% else %}
      <p class="text-grey-60">No colors configured.</p>
    {% endfor %}
  </div>

  <h2>Recommended colors</h2>

  <p>It's not likely that you'll use all colors in a given scale however. These are recommended, safe colors, included in the Lookbook CSS:</p>

  <p>Also see <a href="{{ '/tech/variables' | url }}">"Variables"</a> if you'd like to use the colors as CSS Custom Properties.</p>
</section>
